<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}<title>Shop</title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				{% block sidebar %}
				<ul class="sidebar-nav">
					<li><a href="{% url 'index' %}">Главная страница</a></li>
					<li><a href="{% url 'books' %}">Все товары</a></li>
					<li><a href="{% url 'authors' %}">Все производители</a></li>
					<li><a href="{% url 'authors_add' %}">Редактировать производителей</a></li>
					<li><a href="{% url 'book_create' %}">Добавить товар</a></li>
					{% if user.is_authenticated %}
					<li>Пользователь: {{ user.get_username }}</li>
					<li><a href="{% url 'logout'%}?next={{request.path}}">Выход</a></li>
					{% else %}
					<li><a href="{% url 'login'%}?next={{request.path}}">Вход</a></li>
					{% endif %}
				</ul>
				{% endblock %}
			</div>
			<div class="col-sm-10 ">
				{% block content %}{% endblock %}
				{% block pagination %}
				{% if is_paginated %}
				<div class="pagination">
					<span class="page-links">
						{% if page_obj.has_previous %}
						<a href="{{ request.path }}?page={{
 page_obj.previous_page_number }}
 ">Предыдущая</a>
						{% endif %}
						<span class="page-current">
							Страница {{ page_obj.number }} из
							{{ page_obj.paginator.num_pages }}.
						</span>
						{% if page_obj.has_next %}
						<a href="{{ request.path }}?page={{
 page_obj.next_page_number }}
 ">Следующая</a>
						{% endif %}
					</span>
				</div>
				{% endif %}
				{% endblock %}
				{% block footer %}
				{% block copyright %}
				<p>Copyright ООО "shop", 2023. Все права защищены</p>
				{% endblock %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>

</html>