{% extends "base_generic.html" %}
{% block content %}
<h3>Список производителей в БД</h3>
<h4>{{author.first_name}} {{author.last_name}}</h4>
<form method="POST">
	{% csrf_token %}
	<p> <label>Изменить название бренда</label><br>
		<input type="text" name="first_name" value="{{author.first_name}}" />
	</p>
	<p> <label>Изменить название товара</label><br>
		<input type="text" name="last_name" value="{{author.last_name}}" />
	</p>
	<p> <label>Изменить дату производства</label><br>
		<input type="date" name="date_of_birth" value="{{author.date_of_birth}}" />
	</p>
	<input type="submit" value="Сохранить">
</form>
{% endblock %}